


<div class="container table-bordered">
    <div class="row">
     

         <div class="col-md-4 table-bordered">
            
		            	<!-- Les objets -->
		            <% @emails.each_with_index do  |mail, index|%>
		            <%if mail.read==false %>
		            <div class="objects" style="background-color:#e3e3e3;" id="<%=mail.id%>" > <%=mail.object%> </div>    
		            <%else%>
		            <div class="objects" style="background-color:#FFFFFF;"  id="<%=mail.id%>" > <%=mail.object%> </div>   
		            <%end%>
			<%end%>			
        </div>	


        <div class="col-md-8 table-bordered">
        	
            <div class="body"></div>   
             <% @emails.each_with_index do  |mail, index|%>
		            <div class="bodycontent" id="<%=mail.id%>"><%=mail.body%>   
		            	<br><br>
		            	 <%=link_to 'Delete' , email_path(mail), method: :delete , remote: true, id:mail.id , class: "btn btn-danger delete-email" %>
		            	 </div> 
		            	 		            	<%end%>

        </div>
    </div>
</div>

<script>


//AFFICHER LE CONTENU DES MAILS 


var objects = $('.objects')

var target= $('.body')
var bodycontent = $('.bodycontent')

bodycontent.hide()
console.log(target)




objects.click(function(){


    //je cache les autre bodys
    bodycontent.hide()
    //Je récupère l'id du mail
    var id = event.target.id

    //je récupère le bon contenu
    body = $('#'+id+'.bodycontent')
    
    //Je clone le title
    var obj = $(this).clone()
  
    //Je déplace le clone dans le body
     obj.prependTo(body)

    //j'affiche le contenu
    body.fadeToggle() 

})  





//SUPPRIMER LES MAILS EN JQUERY

// Supprimer si deleted
$('.delete-email').click(function(){
  console.log(this)

//Supprimer le contenu du mail
  $(this).parent('.bodycontent').toggle('puff');

//récupérer l'id du mail
 id_email = event.target.id
 console.log(id_email)

//Ponter vers le titre
 title = $('#'+id_email+'.objects')
 console.log(title)
 title.toggle('puff')
})


</script>

